// reset //////////////////////////////////////
@import './components/reset.scss';
// reset //////////////////////////////////////



// vars //////////////////////////////////////
@import './components/vars.scss';
// vars //////////////////////////////////////

// global //////////////////////////////////////
@import './components/global.scss';
// global //////////////////////////////////////

// font //////////////////////////////////////
@import './components/font.scss';
// font //////////////////////////////////////

// UI //////////////////////////////////////
@import './components/ui.scss';
// UI //////////////////////////////////////

$widthContainer: 1330;


.container {
    max-width: $widthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
    @media(max-width: $tabletlg) {
        max-width: 992px;
    }   
}

body.overlay {
    overflow: hidden;
    touch-action: none;
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
}




@media(max-width: $phone) {
   body.lock {
    overflow: hidden;
    touch-action: none;
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
   }
 
  
}

body {
    .floor {
        max-width: 1330px;
        width: 100%;
        margin: 0 auto;
        border-left: 1px solid rgba(255, 255, 255, 0.116);
        border-right: 1px solid rgba(255, 255, 255, 0.116);
        position: relative;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            background: rgba(255, 255, 255, 0.116);
            right: 33%;
            z-index: -1;
        } 
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;
            background: rgba(255, 255, 255, 0.116);
            left: 33%;
            z-index: -1;
        }
    }
}

.header {
    padding-top: 30px;
    .navbar {
        display: flex;
        align-items: center;
        .logo {
            z-index: 99;
        }
    }
    .mobile-menu {
        margin-left: auto;
        z-index: 99;
    }
    .menu {
        margin-left: auto;
        
        @media(max-width: $tablet) {
            margin-left: auto;
            position: absolute;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #000;
            top: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -ms-transition: 0.3s ease;
            -o-transition: 0.3s ease;
        }
        &.active-menu {
            opacity: 1;
            visibility: visible;
            left: 0;
        }
    }
    .menu__list {
        display: flex;
        @media(max-width: $tablet) {
            flex-direction: column;
            align-items: center;
            padding-top: 15rem;
            min-height: 100%;
            overflow: auto;
        }
        &-item {
            list-style: none;
            position: relative;
           
            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0px;
                width: 0;
                height: 2px;
                border-radius: 92px;
                background-color: #fff;
                transition: 0.3s ease;
                -webkit-transition: 0.3s ease;
                -moz-transition: 0.3s ease;
                -ms-transition: 0.3s ease;
                -o-transition: 0.3s ease;

            }
            &:hover::after {
                width: 100%;
            }
            a {
                font-size: 16px;
                line-height: 150%;
                font-weight: 400;
                color: #fff;
                @media(max-width: $tablet) {
                    font-size: 34px;
                }
            }
            
            &:not(:last-child) {
                margin-right: 3.125rem;
                @media(max-width: $tablet) {
                    margin-right: 0;
                    margin-bottom: 3.125rem;
                }
            }
        }
    }
}


.person {
    padding-bottom: 9.375rem;
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media(max-width: $tabletlg) {
            flex-direction: column-reverse;
        }
    }
    .title {
        font-size: 4.875rem;
        font-weight: 700;
        line-height: 116%;
        color: #fff;
        margin-bottom: 24px;
        padding-top: 10rem;
        @media(max-width: $tabletlg) {
            padding-top: 2rem;
            text-align: center;
        }
    }
    .subtitle {
        font-size: 2rem;
        font-weight: 400;
        line-height: 137%;
        margin-bottom: 50px;
    }
    &__item {
        flex: 0 0 40%;
        @media(max-width: $tabletlg) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &.canvas__item {
            display: flex;
            align-items: center;
            justify-content: center;
            canvas {
                @media(max-width: $tablet) {
                    width: 500px;
                }
            }
            @media(max-width: 992px) {
                padding-top: 20px;
            }
            
        }
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        max-width: 411px;
        width: 100%;
        gap: 20px;
        @media(max-width: $tabletlg) {
            justify-content: center;
        }
        &__item {
            font-size: 21px;
            line-height: 150%;
            color: #fff;
            background-color: #1378EF;
            border-radius: 64px;
            -webkit-border-radius: 64px;
            -moz-border-radius: 64px;
            -ms-border-radius: 64px;
            -o-border-radius: 64px;
            padding: 2px 16px;
        }
    }
}


.about {
   padding-bottom: 9.375rem;
    .road {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @media(max-width: $tabletlg) {
            column-gap: 2rem;
            row-gap: 2rem;
        }
        @media(max-width: $phone) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
     &__col {
        flex: 0 0 33%;
        @media(max-width: $tabletlg) {
            flex: 0 0 30%;
        }
        @media(max-width: $phone) {
            text-align: center;
        }
     }
     &__title {
        font-size: 2rem;
        line-height: 170%;
        color: #fff;
        font-weight: 700;
        margin-bottom: 21px;
        display: inline-block;
        position: relative;
       
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
     }
     &__subtitle {
        font-size: 1rem;
        line-height: 1.8rem;
        font-weight: 400;
        color: #fff;
     }
    }
}

.project {
    padding-bottom: 9.375rem;
    @media(max-width: $tablet) {
        padding-bottom: 6.375rem;
    }
}

.tabs {
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        @media(max-width: $tablet) {
            flex-wrap: wrap;
            row-gap: 2rem;
            column-gap: 2rem;
            justify-content: center;
        }
        &-item {
           .tabs__nav-btn {
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 18px;
            line-height: 150%;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.59);
            cursor: pointer;
            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -ms-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            @media(any-hover: hover) {
                &:hover {
                    color: #fff;
                }
            }
            &--active {
                color: #fff;
            }
           } 
        }
    }
}


.tab__content {
   .tabs__panel {
    outline: none;
    @media(max-width: $tablet) {
        flex-direction: column;
    }
   }
    .title {
        font-size: 28px;
        line-height: 3rem;
        font-weight: 700;
        flex: 0 0 33%;
        @media(max-width: $tablet) {
            margin-bottom: 2rem;
        }
    }
    .col {
        width: 100%;
        .item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            @media(max-width: $tablet) {
                align-items: center;
            }
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &__title {
               font-weight: 700;
               font-size: 1.9rem;
               line-height: 55px;
               color: #fff;
               transition: 0.3s ease;
               -webkit-transition: 0.3s ease;
               -moz-transition: 0.3s ease;
               -ms-transition: 0.3s ease;
               -o-transition: 0.3s ease;
               &.active {
                color: #1378EF;
            }
            }
            &__link {
                font-weight: 400;
                font-size: 1rem;
                line-height: 170%;
            }
            &__btn {
                background-color: transparent;
                border: none;
                cursor: pointer;
                transform: rotate(90deg);
                transition: 0.3s ease;
                -webkit-transition: 0.3s ease;
                -moz-transition: 0.3s ease;
                -ms-transition: 0.3s ease;
                -o-transition: 0.3s ease;
                &.rotate {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                }
                img {
                    pointer-events: none;
                }
            }
        }
    }

}

.hours {
    text-align: center;
    padding-bottom: 9.375rem;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__info {
        max-width: 668px;
        width: 100%;
    }
    &__title {
        font-size: 2.875rem;
        line-height: 3.43rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 10px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            -o-transform: translate(-50%);
            top: 30%;
            width: 16.25rem;
            height: 16.25rem;
            background-color: #1378EF;
            z-index: -2;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
}
    }
    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
}

.reviews {
    padding-bottom: 9.375rem;
    &__title {
        margin-bottom: 6rem;
    }
    &__body {
        display: flex;
        position: relative;
        .arrow-nav {
            position: absolute;
            right: 25%;
            bottom: 0;
            z-index: 2;
           @media(max-width: $xl) {
            right: 0;
            left: 0;
            top: 0;
           }
            .button-next,.button-prev {
                display: flex;
                background-color: #1378EF;
                height: 50px;
                width: 50px;
                border-radius: 50% ;
                -webkit-border-radius: 50% ;
                -moz-border-radius: 50% ;
                -ms-border-radius: 50% ;
                -o-border-radius: 50% ;
                cursor: pointer;
                position: relative;
                outline: none;
                img {
                    width: 50%;
                    pointer-events: none;
                }
                
            }
            .button-next {
                margin-bottom: 10px;
                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    right: -7px;

                 }
            }
            .button-prev {
                img {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                    -moz-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    -o-transform: translateY(-50%);
                    left: -7px;

                 }
            }
        }
           
        .swiper {
            margin: 0;
        }
        .swiper-wrapper {
            max-width: 863px;
            .swiper-slide {
                background-color: rgba(24, 24, 24, 0.59);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 35px 25px;
                .slide__img {
                   margin-bottom: 10px;
                }
                .slide__title {
                    font-size: 1.4rem;
                    margin-bottom: 10px;
                    text-align: center;
                    font-weight: bold;
                }
                .slide__subtitle {
                    font-size: 1rem;
                    line-height: 170%;
                    color: rgba(255, 255, 255, 0.59)
                }
            }
        }
    }
}



.footer {
    background-color: #121212;   
    &__container {
        display: flex;
        align-items: center;
    }
    &__content {
        flex: 0 0 30%;
    }
    &__title {
        font-size: 2rem;
        margin-bottom: 35px;
        line-height: 4rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 3rem;
        &-block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 20px;
            .footer__label {
                font-size: 1rem;
                line-height: 170%;
                color: #fff;
                padding-bottom: 14px;
                font-weight: 400;
            }
            input {
                background-color: transparent;
                border: none;

                border-bottom: 1px solid #fff;
                outline: none;
                
                color: #fff;
                padding-bottom: 5px;
            }

            textarea {
                background-color: transparent;
                border: none;
                resize: none;
                color: #fff;
                padding: 5px;
                border-bottom: 1px solid #fff;;
            }
        }
    }
}

