._title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: #fff;
    margin-bottom: 3rem;
}

.small-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #fff;
}