._title {
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.5rem;
    color: #fff;
    margin-bottom: 3rem;
    @media(max-width: $phone) {
        text-align: center;
    }
}

.small-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #fff;
    @media(max-width: $phone) {
        text-align: center;
    }
}

.nav-toggle {
    padding: 10px;
    background: transparent;
    border: none;
    margin: 7px 0;
    display: none;
    @media(max-width: $tablet) {
        display: block;
    }
    /*
     * FOR PRESENTATION ONLY
     * Centers everything, remove for
     * practical purposes.
    */
  }
  
  .nav-toggle:focus {
    outline-width: 0;
  }
  
  .nav-toggle [class*='bar-'] {
    background: #1378ef;
    display: block;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .2s ease all;
            transition: .2s ease all;
    
    /* 
     * ENLARGED FOR PRESENTATION
     * Keep these values at the same proportion 
     * for it to look correct
    */
    border-radius: 8px;
    height: 3px;
    width: 50px;
    margin-bottom: 9px;
    
    /*
     * Practical values:
     * border-radius: 2px;
     * height: 2px;
     * width: 25px;
     * margin-bottom: 4px;
    */
  }
  
  .nav-toggle .bar-bot {
    margin-bottom: 0;
  }
  
  .opened .bar-top {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
            transform-origin: 15% 15%;
  }
  .opened .bar-mid {
    opacity: 0;
  }
  .opened .bar-bot {
    -webkit-transform: rotate(45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
            transform-origin: 15% 95%;
  }

  
.tabs__panel {
    display: none;
}

.tabs__panel--active {
    display: flex;
}

.swiper-button-disabled {
  opacity: 0.7;
}

